@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	font-family: Roboto;
	font-size: 14px;
}

/*===================================== START CSS FOR LOGIN PAGE =============================*/
#body-login {
	background-color: #00909C;
}

#body-flex-login {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#container-login {
	display: flex;
	height: 610px;
	width: 820px;
	background-color: white;
}

#container-login-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 405px;
	height: 610px;
	background-image: url("../image/backgrounddangnhap1.png");
	padding: 0 16px;
}

#header-left {
	text-align: center;
	color: white;
}

.header-login-signup {
	margin-top: 32px;
}
.header-login-signup:hover {
	cursor: pointer;
}

#text-logo {
	font-size: 48px;
}

#hint-text-logo {
	font-size: 12px;
	opacity: 0.7;
}

#footer-left {
	margin-bottom: 64px;
	color: white;
}

#footer-left img {
	margin-bottom: 2px;
}

#footer-left span {
	margin-left: 8px;
	pitch: top;
	height: 16px;
}

#container-login-right {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 24px;
}

#header-right {
	font-size: 20px;
	color: #b7b7b7;
}

.actived {
	color: #da7c79;
}

#middle-right input[type=text] {
	margin-top: 8px;
}

#middle-right input[type=password] {
	margin-top: 8px;
}

#middle-right input[type=submit] {
	margin-top: 24px;
	color: white;
}

.input-icon-email {
	padding-left: 42px;
	height: 38px;
	background: #d8d8d8 url("../image/ic_email.png") no-repeat scroll 16px 10px;
	border: none;
	width: 100%;
}

.input-icon-password {
	padding-left: 42px;
	height: 38px;
	background: #d8d8d8 url("../image/ic_lock.png") no-repeat scroll 16px 6px;
	border: none;
	width: 100%;
}

.material-primary-button {
	height: 38px;
	background-color: #00909C;
	border: none;
	width: 100%;
	box-shadow: 0 2px 4px 0px #000;
}

.form-signup {
	display: none;
}
#footer-right {
	align-self: flex-end;
	margin-bottom: 16px;
}
/*===================================== END CSS FOR LOGIN PAGE ==============================*/

/*===================================== START CSS FOR HOME PAGE =============================*/
#header {
	height: 662px;
	background: 
		linear-gradient(
      rgba(0, 0, 0, 0.42), 
      rgba(0, 0, 0, 0.42)
    ),
	url(../image/background_home.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.none-nav {
	background: none !important;
	border: none !important;
}

.nav-center {
	margin-left: 25% !important;
}
.navbar-nav a {
	color: white !important;
}

.active > a, .open > a {
	color: #bed8b4 !important;
    font-weight: 600;
    background: none !important;
}

.dropdown-menu {
	background-color: #949389 !important ;
	opacity: 0.8;
}

.circle-avatar {
	width: 32px !important;
    height: 32px !important;
    background-color: chocolate !important;
    text-align: center !important;
    border-radius: 16px !important;
    padding: 7px 12px !important;
    margin-top: 9px !important;
}

a.circle-avatar:hover {
	width: 32px !important;
    height: 32px !important;
    background-color: chocolate !important;
    text-align: center !important;
    border-radius: 16px !important;
    padding: 7px 12px !important;
    margin-top: 9px !important;
}

.event_header {
	text-align: center;
	margin-top: 260px;
}


.event_header > span {
	color: white;
}

#info {
	text-align: center;
	margin-top: 48px;
}
#info img{
	width: 48px;
	height: 48px;
}

#info > span {
	margin-top: 16px;
}

#title-product {
	margin-top: 100px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
#title-product .row {
	margin-top: 42px;
}
.product {
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding-bottom: 16px;
}

.product > img {
	height: 256px;
}

.price {
	font-size: 14px;
	color: red;
	margin-top: 16px;
	padding-bottom: 16px;
}

#footer {
	margin-top: 48px;
	color: white;
	background-color: black;
	padding: 38px;
}

#footer p{
	text-align: center;
}
.title-footer{
	font-size: 32px;
}

.material-input {
	height: 38px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	padding: 10px;
	color: #000;
}

.material-input-area {
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	padding: 10px;
	color: #000;
}

.margin-bottom-8{
	margin-bottom: 8px;
}


@media (max-width: 575.98px) { 
	.nav-center {
		margin-left: 0 !important;
	}
}


@media (min-width: 576px) and (max-width: 767.98px) {
	.nav-center {
		margin-left: 0 !important;
	}
}


@media (min-width: 768px) and (max-width: 991.98px) {
	.nav-center {
		margin-left: 8% !important;
	}
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
	.nav-center {
		margin-left: 12% !important;
	}
}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*===================================== END CSS FOR HOME PAGE =============================*/

/*===================================== START CSS FOR DEATAILS PAGE =============================*/
#header-details {
	background-color: #1b1e21;
	box-shadow: 0 2px 5px #1b1e21;
}

#product-details img {
	width: 100%;
}

ul {
	list-style-type: none;
}

.my-menu {
	padding: 0;
	margin: 0;
}

.my-menu li{
	font-size: 16px;
	font-weight: 400;
	padding: 4px 0px;
}
/*===================================== END CSS FOR DEATAILS PAGE =============================*/












